{% extends "layout.html"%} {% block title%} Validate Password {% endblock %} {%
block main %}
<ul class="list-group mb-3 w-50 p-3 mx-auto">
  <li class="list-group-item list-group-item-danger">PASSWORD REQUIRMENTS</li>
  <li class="list-group-item list-group-item-info">
    At least 8 characters—the more characters, the better.
  </li>
  <li class="list-group-item list-group-item-info">
    A mixture of both uppercase and lowercase letters.
  </li>
  <li class="list-group-item list-group-item-info">
    A mixture of letters and numbers.
  </li>
  <li class="list-group-item list-group-item-info">
    Inclusion of at least one special character, e.g., ! @ # ? ].
  </li>
</ul>
<form action="/validatepass" method="post">
  <div class="mb-3">
    <input
      class="w-25 p-3"
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      id="username"
      name="password"
      placeholder="Write Your password"
      type="text"
    />
  </div>
  <button class="btn btn-dark" type="submit">Validate Password</button>
</form>

{% endblock %}
